venv/
env/
ENV/
*.venv
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
__pycache__/
*.py[cod]
*.class
*.so
.Python
dist/
downloads/
eggs/
.eggs/
lib64/
*.egg-info/
*.h5
*.keras
*.model
*.npy
*.mp4
*.so
*.dylib
.idea/
.vscode/
.DS_Store
/uploads/
/processed/
/extractions/
