# .gitignore

# Virtual Environment
venv/
env/
ENV/
ML/path/to/venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# Model files
*.h5
*.keras
*.model

# IDE
.idea/
.vscode/

# Miscellaneous
.DS_Store
*.log
*.mp4
*.npy